body {
  margin: 0;

  
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  font-family: sans-serif, Arial;

}


h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 60px;
  text-align: center;
}


h2 {

  margin-top: 0px;
  padding-bottom: 30px;
  font-size: 25px;
  text-align: center;


  border-bottom: 2px solid #e3e3e3;
}

main {
  width: 900px;
  margin: auto;
}


section {
  margin: 50px 0px 50px 0px;
  padding: 0px 50px 0px 50px;
} 

section>h2 {
  padding: 0px;
  text-align: left;
  border-style: none;
}

section>ul>li {
  margin-bottom: 10px;
}

